header {
    width: 100%;
    background-color: #eeeeee;
}

.container {
    max-width: 1200px;
    padding: 8px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 44px
}

nav ul {
    margin: 0;
}

nav li {
    display: inline;
    padding: 0 5px;
}