.top-posts-container {
    max-width: 700px;
    margin: 0 auto;
}


.post-list {
    margin: 5px;
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

.page-active {
    background-color: rgba(16, 16, 157, 0.872);
    color: white;
}